<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!--<script src="/javascripts/require.js" defer async="true"></script>-->
    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <!--引入popper.js,jquery.js,bootstrap.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/bootstrap-4/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/bootstrap-4/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<div class="container">
    <form class="form-signIn" method="post">
        <h2 class="form-signIn-heading">Please sign up</h2>
        <label for="inputText" class="sr-only">Username</label>
        <input type="text" id="username" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="password" class="form-control" placeholder="Password" required>
        <label for="inputPassword" class="sr-only">Password Again</label>
        <input type="password" id="passwordAgain" class="form-control" placeholder="Password Again" required>
        <input class="btn btn-lg btn-primary btn-block" id="btn-signUp" type="submit" value="Sign Up"></input>
        <a href="/signIn" class="a-signUp">Already have account? Sign in>>></a>
    </form>
</div>
<!-- /container -->
<script type="text/javascript">
    $('.form-signIn').on('submit', function (e) {
        e.preventDefault();
        $.ajax({
            type: "post",
            url: "/signUp",
            data: {
                username: $("#username").val(),
                password: $("#password").val(),
                passwordAgain: $("#passwordAgain").val()
            },
            success: function (data) {
                if (data.success) {
                    alert(data.message);
                    location.href = "/signIn";
                } else {
                    alert(data.message);
                }
            }

        });
//        alert("test");


//        $(function () {
//            $("#btn-signUp").click(function () {
//                var username = $("#username").val();
//                var password = $("#password").val();
//                var passwordAgain = $("#passwordAgain").val();
//                if (username == "" || password == "" || passwordAgain == "") {
//                    $("#username").css("border", "1px solid red");
//                    $("#password").css("border", "1px solid red");
//                    $("#passwordAgain").css("border", "1px solid red");
//                    alert("Information not complete!");
//                    return;
//                } else if (password !== passwordAgain) {
//                    $("#password").css("border", "1px solid red");
//                    $("#passwordAgain").css("border", "1px solid red");
//                    $("#password").val("");
//                    $("#passwordAgain").val("");
//                    alert("Passwords are not the same! Retry!");
//                    return;
//                } else {
//                    alert("Sign up success!");
//                        location.href = '/signIn';
//                }

        //                var data = {"name": username, "password": password};
        //                console.log(data);
        //                userData.addUser(data,function () {
        //                    $.ajax({
        //                        url: '/signIn',
        //                        type: 'post',
        //                        data: data,
        //                        success: function (data, status) {
        //                            if (status == 'success') {
        //                                location.href = '/homepage';
        //                            }
        //                        },
        //                        error: function (data, status) {
        //                            if (status == 'error') {
        //                                location.href = '/';
        //                            }
        //                        }
        //                    });
//            })
//        });
    });

</script>


</body>
</html>
