<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <!--引入popper.js,jquery.js,bootstrap.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/bootstrap-4/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/bootstrap-4/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<div class="container">
    <form class="form-signIn" method="post">
        <h2 class="form-signIn-heading">Please sign in</h2>
        <label for="inputText" class="sr-only">Username</label>
        <input type="text" id="username" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="password" class="form-control" placeholder="Password" required>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <input class="btn btn-lg btn-primary btn-block" id="btn-signIn" type="submit" value="Sign in"></input>
        <a href="/signUp" class="a-signUp">Have no account? Sign up>>></a>
    </form>
</div>
<!-- /container -->
<script type="text/javascript">

    $('.form-signIn').on('submit',function(e){
        e.preventDefault();
        var username=$("#username").val();
        $.ajax({
            type:"post",
            url:"/signIn",
            data:{
                username:$("#username").val(),
                password:$("#password").val()
            },
            success:function (data) {
                if(data.success){
                    alert("Sign in success! Welcome.");
                    window.location.href='/j'+username+'/homepage';
                }else {
                   alert(data.message);
                }
            }
        });
    })


//    $(function () {
//        $("#btn-signIn").click(function () {
//            var username = $("#username").val();
//            var password = $("#password").val();
////            alert(username);
//            if (username == "" || password == "") {
//                $("#username").css("border", "1px solid red");
//                $("#password").css("border", "1px solid red");
//                alert("Information not complete!");
//                location.href = "/signIn";
//                return;
//            } else {
//                alert("Sign in success! Welcome!");
//                location.href = "/homepage";
//            }
//        });
//    });
</script>

</body>
</html>
