<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!--<script src="/javascripts/require.js" defer async="true"></script>-->
    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <!--引入popper.js,jquery.js,bootstrap.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/bootstrap-4/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/bootstrap-4/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <!--<link rel="shortcut icon" href="/images/favicon.ico">-->
    <!--<link rel="bookmark" href="/images/favicon.ico">-->
</head>
<body>
<div class="container">
    <h1 id="h1-welcome">Welcome to graphwall~(>.<)~!!!</h1>
    <p id="btn-choose-signInAndUp">
        <a href="/signIn" class="btn btn-primary">Sign in.</a>&nbsp;&nbsp;&nbsp;
        <a href="/signUp" class="btn btn-primary">Sign up.</a>
    </p>
</div>
<!-- /container -->
</body>
</html>
